@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


.container {
    display: flex;
    width: 1440px;
    height: 1024px;
    background: linear-gradient(#B02A2A, #A11B1B);
    margin: auto;
    flex-wrap: wrap;
}

.flexbox-header {
    display: flex;
    width: 100%;
}

.title {
    display: flex;
    margin: 45px;
    width: 93%;
    height: 36px;
    font-family: sans-serif;
}

.title div {
    color: #E7FFDE
}

.icons {
    display: flex;
    margin: 45px;
    width: 7%;
    flex-direction: row;
}

.icons div {
    margin: 5px;
}

.icons div:hover {
    opacity: .7;
    cursor: pointer;
}

.flexbox-body {
    display: block;
    width: 100%;
}

.bg-text {
  display: flex;
    flex-wrap: nowrap;
    width: 1986px;
    height: 225px;
    font-family: 'Red Hat Text';
    font-size: 400px;
    line-height: 76.3%;
    letter-spacing: -0.3rem;
    color: #EEE;
    opacity: .4;
    z-index: -1;
}

.primary-text {
    display: flex;
    font-family: 'Red Hat Text';
    font-weight: 700;
    font-size: 200px;
    line-height: 76.3%;
    letter-spacing: -0.03em;
    width: 552px;
    height: 153px;
    color: #fff;
}

.secondary-text {
    display: flex;
    width: 373px;
    height: 112px;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6rem;
    color: #F7F7F7;
}

.secondary-text div {
    width: 100%;
    height: 100%;
}

.btn {
    display: flex;
    width: 211px;
    height: 66px;
}

.btn button {
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
}