@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 1024px;
    background: linear-gradient(#B02A2A, #A11B1B);
    margin: auto;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    justify-content: space-between;
}

.header>div:nth-child(1) {
    width: 83px;
    height: 36px;
    margin: 45px 0 0 45px;
}

.header h1 {
    color: #EEE;
}

.icons {
    width: 109px;
    height: 36px;
}

.icons {
    margin: 45px 45px 0 0;
    justify-content: space-between;
}

.library-icon {
    width: 35px;
    height: 35px;
}

.search-icon {
    width: 36px;
    height: 36px;
}

.img {
    position: absolute;
    top: 125px;
    right: 196px;
    width: 652px;
    height: 905px;
}

.text {
    width: 882px;
}



